ul,li{
    list-style: none;
}

body{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
}
/* ------------------HEADER ------------------------- */

.container{
    margin:15px 170px 0px 170px ;
}

.header{
    display: flex;
    
        height: 70px;
       
        background: #FFFFFF;
        border-radius: 0px;
}

.logo{
    margin-right: 64px;
}

.header-nav__list{
    display: flex;

        font-size: 15px;
        line-height: 1.2;
        color: #071330;
}
.header-nav__item:not(:last-child){
    margin-right:40px ;
}

.header-btn{
    width:152px;
    height: 40px;
    background: #3D55F9;
        border-radius: 12px;
        margin-left: 544px;

            font-size: 16px;
            line-height: 1,25;        
            text-align: center;
            color: #FFFFFF;
}

/* ----------------------------Hero------------------------------ */

.hero{
    display: flex;
}

.hero-title{

        font-size: 43px;
        line-height: 1.15;

        color: #071330;
        padding-top: 125px;
        margin: 0;

        max-width: 460px;
}

.hero-text{

        font-size: 18px;
        line-height: 1.78;
     
        color: #071330;
        margin: 0;
        padding-top: 81px;
        max-width: 450px;
}

.hero-form{
        margin-top: 24px;
}

.hero-input{
    padding: 32px 31px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 8px 24px rgba(7, 19, 48, 0.06);
    border-radius: 20px;

      width: 497px;
      max-height: 80px;
        font-weight: 700;
        font-size: 17px;
        line-height: 1.06;
    
        color: #071330;
}

    

.hero-btn{
    position: absolute;
    transform: translate(-186px,16px);
    height: 56px;
  
    background: #3D55F9;
        border-radius: 12px;

            font-weight: 700;
            font-size: 16px;
            line-height: 1.25;

            text-align: center;
                    color: #FFFFFF;
                    padding: 19px 30px;
}    

.hero-img{
    padding-top: 14px;
    width: 600px;
    position: absolute;
    transform: translateX(490px);
}


/* ----------------------------------Info----------------------------------------- */

.info{
    display: flex;
    margin: 0px 15px;
}

.info-img{
    padding-top: 234px;
    padding-left: 109px;

    

}

.info-img__box{
    min-width: 270px;
    min-height: 554px;
    background-image: url("./image/benefits-img.png");
    filter: drop-shadow(0px 16px 32px rgba(7, 19, 48, 0.08));
        border-radius: 44px;
           background-size: 270px 554px;
background-repeat: no-repeat;
background-position-y: 234px;
margin-left: 46px;

}

.info-text__bloc{
    padding-top:303px ;
    margin-left: 266px;
}

.info-first__text{
        font-size: 16px;
        line-height: 1.25;
       
        color: #3D55F9;
        margin: 0;
}

.info-title {

    font-size: 40px;
    line-height: 1.17;
width: 389px;
    color: #071330;
    margin: 0;
    padding-top: 20px;
}

.info-text {
    font-size: 18px;
        line-height: 1.78;
       width: 463px;
       height: 97px;
    
    
        color: #071330;
        padding-top: 33px;
        margin: 0;
}
.info-text__second{
    font-size: 18px;
        line-height: 1.78;
        width: 463px;
        height: 129px;
        color: #071330;

        padding-top: 31px;
        margin: 0;
}


/* --------------------------------------Steps ------------------------------ */

.steps-all {
    display: flex;
}

.steps-title {
    padding-top: 420px;
    padding-left: 200px;
    padding-right: 200px;
    margin: 0;

        width: 700px;
        height: 94px;
        font-size: 40px;
        line-height: 1.17;
        text-align: center;
        color: #071330;
}
.steps-circle__box{
    width: 56px;
        height: 56px;
        box-shadow: 16px 16px 32px rgba(7, 19, 48, 0.08);
        border-radius: 28px;
        background: #3D55F9;
        
}
.steps-item:not(:first-child){
    padding-top: 113px;
}

.steps-circle{
    width: 8px;
    height: 32px;
        font-size: 20px;
        line-height: 1.6;
        color: #FFFFFF;
        position: absolute;
        transform: translate(23px, 13px);
     
}
.steps-list__container {
    padding-top: 170px;
}


.steps-item__title {
        font-size: 20px;
        line-height: 1.6;
        color: #071330;
        padding-top: 24px;
}

.steps-item-text {
    width:535px;
    font-size: 18px;
    line-height: 1.78;
    color: rgba(7, 19, 48, 0.6);
}



.steps-box__first {
    width:331px ;
    height: 431px;
        background-image: url("./image/steps-first.png");
        background-size:331px 431px ;
        margin-left: 229px;
        margin-top: 66px;

      
}

.steps-box__second {
    width:331px;
        height: 431px;
        background-image: url("./image/steps-second.png");
background-size: 331px 431px;
margin-top: 17px;
margin-left: 230px;
}

.steps-box__third {
width: 331px;
    height: 427px;
    background-image: url("./image/steps-third.png");
    background-size: 331px 427px;
    margin-top: 26px;
    margin-left: 236px;
}

/* -----------------------------------Excerpition ------------------------ */

.excerpition {
    margin: 0px;
    padding-top: 188px;
    padding-right: 249px;
    padding-left: 188px;

}

.excerpition-text {
        width: 693px;
        font-size: 27px;
        line-height: 2.07;
        text-align: center;
    margin: 0;
        color: #F0BCA3;
}

.excerpition-icon__name{
    display: flex;
    margin-top: 88px;
text-align: center;
}

.excerpition-img {
    margin-left: 198px;
    margin-right: 22px;
}

.excerpition-name {
        font-size: 18px;
        line-height: 1.78;
    
        text-align: center;
    
        color: rgba(7, 19, 48, 0.6);
        margin: 0;
}


/* -----------------------------------Options ------------------------------------- */

.options-container {
    margin-top: 154px;
}

.options-list {
    margin: 0;
    padding: 0;
}


.options-item__container {
    display: flex;

}
.options-img {
    margin-left: 109px;
}

.options-text__section{
    padding-left: 266px;
    margin: 0;
}
.options-first__text {
    width:67px;
        font-size: 16px;
         line-height: 1.25;
         margin: 0;
        
    
color: #3D55F9;
padding-top: 92px;

margin-right: 17px;
}

.options-title {
    font-size: 40px;
        line-height: 1.17;
        color: #071330;
        width: 462px;
        margin: 0;
        margin-right: 17px;
        margin-top: 15px;
}

.options-text {
    font-size: 18px;
        line-height: 1.78;
        color: #071330;
        width: 468px;
        margin: 0;
        margin-top:39px ;
}

.options-text__second {
    font-size: 18px;
        line-height: 1.78;
    
        color: #071330;
        width: 439px;
        margin: 0;
        margin-top: 31px;
}

.options-item__container-second{
    display: flex;
    padding-top: 200px;
    margin-left: 80px;
    margin-right: 92px;
}


.options-img__second{
    margin-left: 218px;
}

.options-icon__list{
    margin: 0;
padding-top: 71px;
}
.option-icon__item{
    display: flex;
   
}
.option-icon__item:not(:first-child){
    margin-top: 64px;
}

.option-icon__text{
    margin-left: 24px;
        font-size: 20px;
        line-height: 1.6;
        color: #071330;
}

.container-second__first__text{
    margin: 0;
}

.container-second__title{
    margin: 0;
    margin-top: 20px;
}

.option-icon__svg{
    fill: #3D55F9 ;
}

.container-second__text{
        margin: 0;
        margin-top: 33px;
}

.tainer-second__text-second{
    margin: 0;
        margin-top: 31px;
}

.options-item__container-third{
    padding-top: 171px;
}

.container-third__first-text{
   margin: 0;
}

.container-third__title {
    margin: 0 ;
    margin-top: 20px;

}

.container-third__text{
    margin: 0;
        margin-top: 26px;
}

.container-third__text-second{
    margin: 0;
        margin-top: 6px;
}